{% extends "layout.html" %}
{% block title %}Image Access Request Received{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>

{% endblock %}
{% block content %}
  <h2>Image Access Request Received</h2>
  <p class="important">

  <div>
        <p>
            Thank you for your interest in Red Hat Advanced Cluster Security (RHACS). You will receive and email shortly to verify
            your email address. Following the hyperlink in the email will provide you credentials for accessing RHACS content.
        </p>
  </div>

{% endblock %}